# Copy this file to admin.env
# These emails have admin access to the /admin panel

ADMIN_EMAILS=ibugamer120@gmail.com

# Add more emails separated by commas:
# ADMIN_EMAILS=admin@example.com,ibugamer120@gmail.com
